# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

hal_client_domain(automotive_display_service, hal_graphics_allocator);
