# Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

type vendor_c2cplatform_app, domain;
app_domain(vendor_c2cplatform_app)

allow vendor_c2cplatform_app proc_net:file r_file_perms;
allow vendor_c2cplatform_app self:tcp_socket { create ioctl rw_socket_perms };
allow vendor_c2cplatform_app self:udp_socket { create ioctl };
allow vendor_c2cplatform_app { activity_service game_service vendor_perf_service wifi_service bluetooth_manager_service location_service radio_service }:service_manager find;
allow vendor_c2cplatform_app system_app_data_file:dir create_dir_perms;
allow vendor_c2cplatform_app system_app_data_file:file create_file_perms;
allow vendor_c2cplatform_app self:netlink_route_socket { create nlmsg_readpriv nlmsg_read nlmsg_write read write };
allow vendor_c2cplatform_app mnt_vendor_file:dir search;
allow vendor_c2cplatform_app vendor_persist_c2c_file:dir search;
allow vendor_c2cplatform_app vendor_persist_c2c_file:file { read open getattr };
allow vendor_c2cplatform_app dnsproxyd_socket:sock_file write;
allow vendor_c2cplatform_app netd:unix_stream_socket connectto;
allow vendor_c2cplatform_app fwmarkd_socket:sock_file write;
allow vendor_c2cplatform_app port:tcp_socket name_connect;
