# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

type vendor_early_eth, domain;
type vendor_early_eth_exec, system_file_type, exec_type, file_type;

typeattribute vendor_early_eth coredomain;

init_daemon_domain(vendor_early_eth)

allow vendor_early_eth self:udp_socket { create ioctl };
allowxperm vendor_early_eth self:udp_socket ioctl { SIOCSIFADDR SIOCSIFFLAGS };
allow vendor_early_eth toolbox_exec:file { map execute_no_trans read open execute getattr };
allow vendor_early_eth shell_exec:file { map read execute getattr };
allow vendor_early_eth vendor_early_eth:capability { net_admin };
userdebug_or_eng(`allow vendor_early_eth kmsg_device:chr_file { open write }');
