# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

neverallow {
  system_halserverdomain
} self:global_capability_class_set { net_admin net_raw };

neverallow {
  system_halserverdomain
  - vendor_systemhelper_app
} domain:{ tcp_socket udp_socket rawip_socket } *;

neverallow {
  system_halserverdomain
  - vendor_systemhelper_app
} { file_type fs_type }:file execute_no_trans;

neverallow { domain -init } system_halserverdomain:process transition;

neverallow *  { system_halserverdomain - vendor_systemhelper_app }:process dyntransition;

neverallow { system_halserverdomain - netdomain - vendor_systemhelper_app } hwservicemanager:binder { call transfer };
