# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

qesdk_app_access(untrusted_app_29);
typeattribute untrusted_app_29 vendor_hal_qvrservice_qti_socket_fd_use_client;
typeattribute untrusted_app_29 vendor_hal_sxrservice_qti_socket_fd_use_client;

# allow app to be a client of DSP HAL
hal_client_domain(untrusted_app_29, vendor_hal_dspmanager)
