# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

qesdk_app_access(untrusted_app_30);
hal_client_domain(untrusted_app_30, vendor_hal_qspmhal)

# allow app to be a client of DSP HAL
hal_client_domain(untrusted_app_30, vendor_hal_dspmanager)
