# Copyright (c) 2021, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

type vendor_screencap, domain;
type vendor_screencap_exec, system_file_type, exec_type, file_type;

allow vendor_screencap adbd:fd use;
allow vendor_screencap devpts:chr_file { getattr read write ioctl };
binder_use(vendor_screencap)
binder_call(vendor_screencap, surfaceflinger)
binder_call(vendor_screencap, system_server)
binder_call(system_server, vendor_screencap)
hal_client_domain(vendor_screencap, hal_graphics_allocator)
allow vendor_screencap surfaceflinger_service:service_manager find;
allow vendor_screencap activity_service:service_manager find;
allow vendor_screencap adbd:unix_stream_socket { read write };
allow vendor_screencap shell:fd use;
allow vendor_screencap ion_device:chr_file rw_file_perms;
allow vendor_screencap shell_exec:file rx_file_perms;
allow vendor_screencap system_file:file x_file_perms;

allow vendor_screencap storage_file:dir r_dir_perms;
allow vendor_screencap storage_file:lnk_file r_file_perms;
allow vendor_screencap mnt_user_file:dir r_dir_perms;
allow vendor_screencap mnt_user_file:lnk_file r_file_perms;
allow vendor_screencap sdcard_type:dir create_dir_perms;
allow vendor_screencap sdcard_type:file create_file_perms;
